{% extends 'layout.html' %}

{% block title %}404{% endblock %}

{% block secondtitle %}404{% endblock %}

{% block content %}




    <div class="fade-in-right-big">
        <div class="container w-xxl w-auto-xs">

            <div class="text-center m-b-lg">
                <h1 class="text-shadow text-white">404</h1>
            </div>


            <div class="list-group bg-info auto m-b-sm m-b-lg">
                <a href="/" class="list-group-item">
                    <i class="fa fa-chevron-right text-muted"></i>
                    <i class="fa fa-fw fa-mail-forward m-r-xs"></i> 返回主页
                </a>
                <a class="list-group-item" href="/signin">
                    <i class="fa fa-chevron-right text-muted"></i>
                    <i class="fa fa-fw fa-sign-in m-r-xs"></i> 登 陆
                </a>
                <a class="list-group-item" href="/signup">
                    <i class="fa fa-chevron-right text-muted"></i>
                    <i class="fa fa-fw fa-unlock-alt m-r-xs"></i> 退 出
                </a>
            </div>

        </div>
    </div>
{% endblock %}





