{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}


<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col w w-auto-xs bg-light inherit dk b-r">
        <div class="wrapper b-b bg">
            <button class="btn btn-sm btn-default pull-right visible-sm visible-xs"><i class="fa fa-bars"></i></button>
            <a class="btn btn-sm btn-success w-xs font-bold" href="/create">创建文档</a>
        </div>


            <div class="wrapper-md b-b">
                <a class="btn btn-link pull-right m-t-n-xs m-r-n-sm visible-sm visible-xs" ui-toggle-class="show" data-target="#nav-docs">
                    <i class="fa fa-bars"></i>
                </a>
                <span class="h4">Documents</span>
            </div>
            <div class="hidden-sm hidden-xs" id="nav-docs">
                <ul class="nav">
                    <li class="padder b-b l-h-2x bg text-info"><em>Build</em></li>
                    <li><a ui-scroll-to="node-req">Requirements</a></li>
                    <li><a ui-scroll-to="bower">Bower</a></li>
                    <li><a ui-scroll-to="grunt">Grunt</a></li>
                    <li><a ui-scroll-to="dev-server">Local Server</a></li>

                    <li class="padder b-b l-h-2x bg text-success"><em>CSS</em></li>
                    <li><a ui-scroll-to="bootstrap">Bootstrap</a></li>
                    <li><a ui-scroll-to="icons">Icons</a></li>
                    <li><a ui-scroll-to="animate">Animate</a></li>
                    <li><a ui-scroll-to="colors">Colors</a></li>
                    <li><a ui-scroll-to="layout">Layout</a></li>
                    <li><a ui-scroll-to="utilities">Utilities</a></li>

                    <li ui-scroll-to="core" class="padder b-b b-t l-h-2x bg text-danger"><em>Core</em></li>
                    <li><a ui-scroll-to="ui-router">ui-router</a></li>
                    <li><a ui-scroll-to="ui-load">ui-load</a></li>
                    <li><a ui-scroll-to="ui-jq">ui-jq</a></li>
                    <li><a ui-scroll-to="ui-module">ui-module</a></li>
                    <li><a ui-scroll-to="ui-validate">ui-validate</a></li>

                    <li ui-scroll-to="directives" class="padder b-b b-t l-h-2x bg text-primary"><em>Directives</em></li>
                    <li><a ui-scroll-to="ui-toggle-class">ui-toggle-class</a></li>
                    <li><a ui-scroll-to="ui-shift">ui-shift</a></li>
                    <li><a ui-scroll-to="ui-scroll-to">ui-scroll-to</a></li>
                    <li><a ui-scroll-to="ui-fullscreen">ui-fullscreen</a></li>

                    <li ui-scroll-to="plugins" class="padder b-b b-t l-h-2x bg text-info"><em>Plugins</em></li>
                    <li><a ui-scroll-to="plugins">Plugins docs</a></li>
                </ul>
            </div>



    </div>


    <!--index right-->
    <div class="col">
        <!-- uiView:  -->
            <div>
                <!-- header -->
                <div class="wrapper bg-light lter b-b">
                    <div class="btn-group pull-right">
                        <a class="btn btn-sm btn-bg btn-default disabled">{{docs.title}}</a>
                    </div>
                    <a class="btn btn-sm btn-default w-xxs m-r-sm" href="javascript:history.go(-1);"><i class="fa fa-long-arrow-left"></i></a>

                    <!--<div class="btn-group m-r-sm">-->
                    <!--<button class="btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Archive"><i class="fa fa-archive"></i></button>-->
                    <!--<button class="btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Report"><i class="fa fa-exclamation-circle"></i></button>-->
                    <!--<button class="btn btn-sm btn-default w-xxs w-auto-xs" tooltip="Delete"><i class="fa fa-trash-o"></i></button>-->
                    <!--</div>-->
                    {% if !docs.preview %}
                    <div class="btn-group">

                        <!--编辑-->

                        {% if posts.name == user.nickname || user.role > posts.role %}
                        <a href="/post/{{posts.id}}/edit" class="btn btn-sm btn-default w-xxs w-auto-xs"><i class="fa fa-edit"></i></a>
                        {% endif %}

                        <!--删除-->
                        {% if posts.name == user.nickname || user.role > posts.role %}
                        <button class="btn btn-sm btn-default w-xxs w-auto-xs"><i class="fa fa-trash-o"></i></button>
                        {% endif %}
                        <!--tags-->
                        <div class="btn-group dropdown">
                            <button class="btn btn-sm btn-default w-xxs w-auto-xs dropdown-toggle"><i
                                    class="fa fa-fw fa-tag"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu">

                                {% for tag in posts.tags %}
                                <li>
                                    <a href="" class="ng-binding">
                                        <i class="fa fa-fw fa-circle text-xs"></i>
                                        {{tag}}
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>


                <!-- / header -->
                <div class="col">
                    <div class="clearfix padder-md">
                        {% autoescape %}{{docs.content}}{% endautoescape %}
                    </div>
                </div>


</div>

</div>
</div>
{% endblock %}
{% block loadjs %}
<script>
    //hljs
    require(['hljs'], function (hljs) {
        hljs.initHighlightingOnLoad();
    });
</script>
{% endblock %}