{% extends 'layout.html' %}
{% block title%}{{title}}{% endblock %}
{% block content %}
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <!-- main -->
    <div class="col wrapper-lg">
        <h3 class="font-thin m-t-n-xs m-b">推荐文档</h3>
        <div class="row row-sm">

		{% for rd in recommendData %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <a href="/docs/">
                            <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                                    <div class="center text-center m-t-n w-full">
                                        <i class="fa fa-2x fa-link text-white"></i>
                                    </div>
                            </div>
                        </a>
                        <a><img src="{% if rd.cover %}{{rd.cover}}{% else %}/img/doccover.png{% endif %}" class="img-full r r-2x"></a>
                    </div>

                    <div class="padder-v">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">{{rd.title}}</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">{{rd.name}}</a>
                    </div>

                </div>
            </div>
		{%endfor%}
        </div>

        <div class="row">
            <div class="col-md-7">
                <h3 class="font-thin">最新文档</h3>
                <div class="row row-sm">

                {% for docNew in docsNew%}
                    <div class="col-xs-6 col-sm-3">
                        <div class="item">


                            <div class="pos-rlt">
                                <a href="/doc/{{docNew.id}}">
                                    <div class="item-overlay bg-black-opacity r r-2x">
                                        <div class="center text-center m-t-n w-full">
                                            <i class="fa fa-2x fa-link text-white"></i>
                                        </div>
                                    </div>
                                </a>
                                <img src="{% if docNew.cover %}{{docNew.cover}}{% else %}/img/doccover.png{% endif %}" class="img-full r r-2x">
                            </div>
                            <div class="padder-v">
                                <a class="text-ellipsis" href="#/music/detail">{{docNew.title}}</a>
                                <a class="text-ellipsis text-xs text-muted" href="#/music/detail">{{docNew.name}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                </div>
            </div>




            <div class="col-md-5">
                <h3 class="font-thin">热门文档</h3>
                <div class="list-group bg-white list-group-lg no-bg auto">
                    <a ui-sref="music.detail" class="list-group-item clearfix" href="#/music/detail">
                        <span class="pull-right h2 text-muted m-l">1</span>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="http://flatfull.com/themes/angulr/angular/img/a4.jpg" alt="..." class="r">
            </span>
            <span class="clear">
              <span>Little Town</span>
              <small class="text-muted clear text-ellipsis">by Chris Fox</small>
            </span>
                    </a>
                    <a ui-sref="music.detail" class="list-group-item clearfix" href="#/music/detail">
                        <span class="pull-right h2 text-muted m-l">2</span>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="http://flatfull.com/themes/angulr/angular/img/a5.jpg" alt="..." class="r">
            </span>
            <span class="clear">
              <span>Lementum ligula vitae</span>
              <small class="text-muted clear text-ellipsis">by Amanda Conlan</small>
            </span>
                    </a>
                    <a ui-sref="music.detail" class="list-group-item clearfix" href="#/music/detail">
                        <span class="pull-right h2 text-muted m-l">3</span>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="http://flatfull.com/themes/angulr/angular/img/a6.jpg" alt="..." class="r">
            </span>
            <span class="clear">
              <span>Aliquam sollicitudin venenatis</span>
              <small class="text-muted clear text-ellipsis">by Dan Doorack</small>
            </span>
                    </a>
                    <a ui-sref="music.detail" class="list-group-item clearfix" href="#/music/detail">
                        <span class="pull-right h2 text-muted m-l">4</span>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="http://flatfull.com/themes/angulr/angular/img/a7.jpg" alt="..." class="r">
            </span>
            <span class="clear">
              <span>Aliquam sollicitudin venenatis ipsum</span>
              <small class="text-muted clear text-ellipsis">by Lauren Taylor</small>
            </span>
                    </a>
                    <a ui-sref="music.detail" class="list-group-item clearfix" href="#/music/detail">
                        <span class="pull-right h2 text-muted m-l">5</span>
            <span class="pull-left thumb-sm avatar m-r">
              <img src="http://flatfull.com/themes/angulr/angular/img/a8.jpg" alt="..." class="r">
            </span>
            <span class="clear">
              <span>Vestibulum ullamcorper</span>
              <small class="text-muted clear text-ellipsis">by Dan Doorack</small>
            </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- / main -->
    <!-- right col -->
    <div class="col w-md bg-light dker b-l bg-auto no-border-xs">
        <div class="wrapper-md">
            <div class="m-b-sm text-md">Top Plays</div>
            <ul class="list-group no-bg no-borders pull-in">
                <li class="list-group-item">
                    <a herf="" class="pull-left thumb-sm m-r">
                        <img src="http://flatfull.com/themes/angulr/angular/img/b1.jpg" alt="..." class="r">
                    </a>
                    <div class="clear">
                        <div><a href="">On the road</a></div>
                        <small class="text-muted">by Chris Fox</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <a herf="" class="pull-left thumb-sm m-r">
                        <img src="http://flatfull.com/themes/angulr/angular/img/b2.jpg" alt="..." class="r">
                    </a>
                    <div class="clear">
                        <div><a href="">Find a way</a></div>
                        <small class="text-muted">by Lucy</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <a herf="" class="pull-left thumb-sm m-r">
                        <img src="http://flatfull.com/themes/angulr/angular/img/b3.jpg" alt="..." class="r">
                    </a>
                    <div class="clear">
                        <div><a href="">Nothing to lose</a></div>
                        <small class="text-muted">Joge Lucky</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <a herf="" class="pull-left thumb-sm m-r">
                        <img src="http://flatfull.com/themes/angulr/angular/img/b4.jpg" alt="..." class="r">
                    </a>
                    <div class="clear">
                        <div><a href="">New day</a></div>
                        <small class="text-muted">by Folisise Chosielie</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <a herf="" class="pull-left thumb-sm m-r">
                        <img src="http://flatfull.com/themes/angulr/angular/img/b5.jpg" alt="..." class="r">
                    </a>
                    <div class="clear">
                        <div><a href="">Running</a></div>
                        <small class="text-muted">by Aron Gonzalez</small>
                    </div>
                </li>
            </ul>
            <div class="text-center">
                <a href="" class="btn btn-sm btn-info padder-md m-b">More</a>
            </div>
        </div>
        <!-- streamline -->
        <div class="text-md wrapper-md">Activity</div>
        <div class="list-group no-borders no-bg m-l-xs m-r-xs m-t-n">
            <div class="list-group-item">
                <div class="text-muted">5 minutes ago</div>
                <div><a href="" class="text-info">Jessi</a> commented your post.</div>
            </div>
            <div class="list-group-item">
                <div class="text-muted">11:30</div>
                <div><a ui-sref="music.detail" href="#/music/detail">Jone</a> published a song</div>
            </div>
            <div class="list-group-item">
                <div class="text-muted">Sun, 11 Feb</div>
                <div><a href="" class="text-info">Jessi</a> upload a video <a href="" class="text-info">Cat</a>.</div>
            </div>
            <div class="list-group-item">
                <div class="text-muted">Thu, 17 Jan</div>
                <div>Mike Followed you</div>
            </div>
        </div>
        <!-- / streamline -->
    </div>
    <!-- / right col -->
</div>
{% endblock%}

