{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}


<div class="hbox hbox-auto-xs hbox-auto-sm ">
    <div class="col w-md bg-light dk b-r bg-auto">
        <div class="wrapper b-b bg">
            <a class="btn btn-sm btn-danger w-xs font-bold" href="/publish">发布文章</a>
        </div>
        <div class="wrapper hidden-sm hidden-xs" id="email-menu">
            <ul class="nav nav-pills nav-stacked nav-sm">
                <!-- ngRepeat: fold in folds -->
                <li ng-repeat="fold in folds" ui-sref-active="active" class="ng-scope active">
                    <a ui-sref="app.mail.list({fold:fold.filter})" class="ng-binding" href="#/app/mail/inbox/">
                        Inbox
                    </a>
                </li>
                <!-- end ngRepeat: fold in folds -->
                <li ng-repeat="fold in folds" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:fold.filter})" class="ng-binding" href="#/app/mail/inbox/starred">
                        Starred
                    </a>
                </li>
                <!-- end ngRepeat: fold in folds -->
                <li ng-repeat="fold in folds" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:fold.filter})" class="ng-binding" href="#/app/mail/inbox/sent">
                        Sent
                    </a>
                </li>
                <!-- end ngRepeat: fold in folds -->
                <li ng-repeat="fold in folds" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:fold.filter})" class="ng-binding" href="#/app/mail/inbox/important">
                        Important
                    </a>
                </li>
                <!-- end ngRepeat: fold in folds -->
                <li ng-repeat="fold in folds" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:fold.filter})" class="ng-binding" href="#/app/mail/inbox/draft">
                        Draft
                    </a>
                </li>
                <!-- end ngRepeat: fold in folds -->
                <li ng-repeat="fold in folds" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:fold.filter})" class="ng-binding" href="#/app/mail/inbox/trash">
                        Trash
                    </a>
                </li>
                <!-- end ngRepeat: fold in folds -->
            </ul>
            <div class="wrapper">Labels</div>
            <ul class="nav nav-pills nav-stacked nav-sm">
                <!-- ngRepeat: label in labels -->
                <li ng-repeat="label in labels" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:label.filter})" class="ng-binding" href="#/app/mail/inbox/angular">
                        <i class="fa fa-fw fa-circle text-muted" color="#23b7e5" label-color=""
                           style="color: rgb(35, 183, 229);"></i>
                        Angular
                    </a>
                </li>
                <!-- end ngRepeat: label in labels -->
                <li ng-repeat="label in labels" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:label.filter})" class="ng-binding"
                       href="#/app/mail/inbox/bootstrap">
                        <i class="fa fa-fw fa-circle text-muted" color="#7266ba" label-color=""
                           style="color: rgb(114, 102, 186);"></i>
                        Bootstrap
                    </a>
                </li>
                <!-- end ngRepeat: label in labels -->
                <li ng-repeat="label in labels" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:label.filter})" class="ng-binding" href="#/app/mail/inbox/client">
                        <i class="fa fa-fw fa-circle text-muted" color="#fad733" label-color=""
                           style="color: rgb(250, 215, 51);"></i>
                        Client
                    </a>
                </li>
                <!-- end ngRepeat: label in labels -->
                <li ng-repeat="label in labels" ui-sref-active="active" class="ng-scope">
                    <a ui-sref="app.mail.list({fold:label.filter})" class="ng-binding" href="#/app/mail/inbox/work">
                        <i class="fa fa-fw fa-circle text-muted" color="#27c24c" label-color=""
                           style="color: rgb(39, 194, 76);"></i>
                        Work
                    </a>
                </li>
                <!-- end ngRepeat: label in labels -->
            </ul>
            <div class="wrapper">
                <form name="label" class="ng-pristine ng-invalid ng-invalid-required">
                    <div class="input-group">
                        <input type="text"
                               class="form-control input-sm ng-pristine ng-untouched ng-invalid ng-invalid-required"
                               ng-model="newLabel.name" placeholder="New label" required="">
            <span class="input-group-btn">
              <button class="btn btn-sm btn-default" type="button" ng-click="addLabel()" ng-disabled="label.$invalid"
                      disabled="disabled">Add
              </button>
            </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--index right-->
    <div class="col">
        <div class="wrapper bg-light lter b-b">
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-bg btn-default disabled">{{page.page}}</button>
                <a href="/?p={{page.page-1}}" class="btn btn-sm btn-bg btn-default {% if 1 == page.page %}disabled{% endif %}"><i class="fa fa-chevron-left"></i></a>
                <a href="/?p={{page.page+1}}" class="btn btn-sm btn-bg btn-default {% if page.total == page.page %}disabled{% endif %}"><i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="btn-toolbar">
                <div class="btn-group dropdown">
                    <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown">
                        <span class="dropdown-label">Filter</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-left text-sm">
                        <li><a ui-sref="app.mail.list({fold:'unread'})"
                               href="#/app/mail/inbox/unread">Unread</a></li>
                        <li><a ui-sref="app.mail.list({fold:'starred'})"
                               href="#/app/mail/inbox/starred">Starred</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a href="javascript:history.go(-1);" class="btn btn-sm btn-bg btn-default"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
        </div>
        <!-- / header -->

        <!-- list -->
        <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
            {% if !posts.length %}
                <div class="wrapper-md">暂无文章</div>
            {% endif%}

            {% for post in posts %}
            <li class="list-group-item clearfix b-l-3x b-l-info">

                <a class="avatar thumb pull-left m-r" href="/user/{{post.name}}">
                    <img src="{{post.avatar}}">
                </a>

                <div class="pull-right text-sm text-muted">
                    <span class="hidden-xs ng-binding">{{post.updatetime}}</span>
                    <i class="fa fa-paperclip m-l-sm"></i>
                </div>
                <div class="clear">
                    <div>
                        <a class="text-md ng-binding" href="/post/{{post.flag}}">{{post.title}}</a>
                        {% for tag in post.tags %}
                        <span class="label bg-light m-l-sm ng-binding">{{tag}}</span>
                        {% endfor %}
                    </div>
                    <div class="text-ellipsis m-t-xs ng-binding">
                        {{post.description}}
                    </div>
                </div>

            </li>
            {% endfor %}
            <!-- end ngRepeat: mail in mails | filter:fold -->

        </ul>
        <!-- / list -->


    </div>


</div>


{% endblock %}
