{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}


<div class="hbox hbox-auto-xs hbox-auto-sm ">
    <div class="col w-md bg-light dk b-r bg-auto">
        <div class="wrapper b-b bg">
            <a class="btn btn-sm btn-danger w-xs font-bold" href="/publish">发布文章</a>
        </div>
        <div class="wrapper hidden-sm hidden-xs" id="email-menu">
            <ul class="nav nav-pills nav-stacked nav-sm">
                <li class="active">
                    <a  href="/">
                        全部
                    </a>
                </li>
                {% for category in categories %}
                {% if '未分类'!==category.name %}
                <li>
                    <a href="/take/?s={{category.name}}">
                        {{category.name}}
                    </a>
                </li>
                {%endif%}
                {%endfor%}
            </ul>
            <div class="wrapper">Labels</div>
            <ul class="nav nav-pills nav-stacked nav-sm">
                <li>
                    <a>
                        <i class="fa fa-fw fa-circle text-muted" color="#27c24c" style="color: rgb(39, 194, 76);"></i>
                        置顶
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-fw fa-circle text-muted" color="#23b7e5" style="color: rgb(35, 183, 229);"></i>
                        文章
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-fw fa-circle text-muted" color="#7266ba" style="color: rgb(114, 102, 186);"></i>
                        文档
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-fw fa-circle text-muted" color="#f05050" style="color: #f05050;"></i>
                        问答
                    </a>
                </li>
            </ul>

        </div>
    </div>


    <!--index right-->
    <div class="col">
        <div class="wrapper bg-light lter b-b">
            <div class="btn-group pull-right">
                <button class="btn btn-sm btn-bg btn-default disabled">{{page.page}}</button>
                <a href="/?p={{page.page-1}}" class="btn btn-sm btn-bg btn-default {% if 1 == page.page %}disabled{% endif %}"><i class="fa fa-chevron-left"></i></a>
                <a href="/?p={{page.page+1}}" class="btn btn-sm btn-bg btn-default {% if page.total == page.page %}disabled{% endif %}"><i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="btn-toolbar">
                <div class="btn-group dropdown">
                    <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown">
                        <span class="dropdown-label">Filter</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-left text-sm">
                        <li><a ui-sref="app.mail.list({fold:'unread'})"
                               href="#/app/mail/inbox/unread">Unread</a></li>
                        <li><a ui-sref="app.mail.list({fold:'starred'})"
                               href="#/app/mail/inbox/starred">Starred</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a href="/" class="btn btn-sm btn-bg btn-default"><i class="fa fa-refresh"></i></a>
                </div>
            </div>
        </div>
        <!-- / header -->

        <!-- list -->
        <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
            {% if !posts.length %}
                <div class="wrapper-md">暂无文章</div>
            {% endif%}

            {% for post in posts %}
                <li class="list-group-item clearfix {% if post.istop %}b-l-success{% elseif 'doc'==post.type %}b-l-primary{%else%}b-l-info{%endif%}">

                    <a class="avatar thumb pull-left m-r" href="/user/{{post.name}}">
                        <img src="{{post.avatar}}">
                    </a>

                    <div class="pull-right text-sm text-muted">
                        <span class="hidden-xs ng-binding">{{post.updatetime}}</span>
                        <i class="fa fa-clock-o m-l-sm"></i>
                    </div>
                    <div class="clear">
                        <div>
                            <a class="text-md ng-binding" href="/{{post.type}}/{{post.flag}}">{{post.title}}</a>
                            {% for tag in post.tags %}
                            <span class="label bg-light m-l-sm ng-binding">{{tag}}</span>
                            {% endfor %}
                        </div>
                        <div class="text-ellipsis m-t-xs ng-binding">
                            {{post.description}}
                        </div>
                    </div>
                </li>
            {% endfor %}
            <!-- end ngRepeat: mail in mails | filter:fold -->

        </ul>
        <!-- / list -->


    </div>


</div>


{% endblock %}
