<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}青豆前端{% endblock %}-专注于web前端开发与用户体验</title>
    <meta name="keywords" content="{% block keywords %}前端, 前端开发, wordpress,html5,css3,html教程{% endblock %}" />
    <meta name="description" content="{% block description %}青豆前端-关注web前端开发，Javascript，jquery，div+css,等前端技术.{% endblock %}">

    <!--<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">-->
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    {% block style %}
    {% endblock %}
    <script>
        var USER = '{{user.sex}}';
    </script>
</head>
<body>
<div class="app app-header-fixed app-aside-folded" id="app">

    <div class="app-header navbar">
        <div class="mask-header no-show"></div>
        <div class="navbar-header bg-dark">
            <button class="pull-right visible-xs dk">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <button class="pull-right visible-xs">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <!-- brand -->
            <a href="/" class="navbar-brand text-lt">
                <img src="/img/logo.png" />
                <span class="hidden-folded">Docs.ren</span>
            </a>
            <!-- / brand -->
        </div>
        <!-- / navbar header -->

        <!-- navbar collapse -->
        <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
            <!-- buttons -->
            <div class="nav navbar-nav hidden-xs">
                <a id="sh-aside" href="javascript:;" class="btn no-shadow navbar-btn">
                    <i class="fa fa-dedent fa-fw"></i>
                </a>
                <a href="" class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
                    <i class="icon-user fa-fw"></i>
                </a>
            </div>
            <!-- / buttons -->

            <!-- link and dropdown -->
            <ul class="nav navbar-nav hidden-sm">

                <li class="nav-dropdown-toggle">
                    <a href="javascript:;">
                        <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                        <span>发布</span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="/publish">文章</a></li>
                        <li>
                            <a href="/create">
                                <span class="">文档</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>




            <form class="navbar-form navbar-form-sm navbar-left shift">
                <div class="form-group">
                    <div class="input-group">
                          <input type="text" class="form-control input-sm bg-light no-border padder" placeholder="Search projects..." />
                          <span class="input-group-btn">
                                <button type="submit" class="btn btn-sm bg-light"><i class="fa fa-search"></i></button>
                          </span>
                    </div>
                </div>
            </form>
            <!-- / link and dropdown -->


            <div class="nav navbar-nav height50">
                <!--<a href="javascript:;" class="btn no-shadow navbar-github">-->
                    <!--<iframe  src="https://ghbtns.com/github-btn.html?user=petitspois&repo=qdblog&type=watch&&count=true" width="80" height="20" frameborder="0" scrolling="0" ></iframe>-->
                <!--</a>-->
                <!--<a href="javascript:;" class="btn no-shadow navbar-github">-->
                    <!--<iframe src="https://ghbtns.com/github-btn.html?user=petitspois&repo=qdblog&type=fork&&count=true" width="80" height="20" frameborder="0" scrolling="0" ></iframe>-->
                <!--</a>-->
            </div>


            <!-- nabar right -->
            <ul class="nav navbar-nav navbar-right">

                {% if user %}
                <li class="nav-dropdown-toggle">
                    <a href="/notifications">
                        <i class="not-icon fa fa-inbox"></i>
                        <span class="not-icon-msg hide fade-in-left ng-enter"></span>
                    </a>
                </li>



                <li class="nav-dropdown-toggle">

                    <a href="javascript:;" class="clear">
                          <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                            <img src="{{user.avatar}}" alt="...">
                            <i class="{{user.sex}} md b-white bottom"></i>
                          </span>
                        <span class="hidden-sm hidden-md">{{user.nickname}}</span>
                        <b class="caret"></b>
                    </a>


                    <!-- dropdown -->
                    <ul id="user-child-right" class="dropdown-menu animated fadeInRight w">
                        <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                            <div>
                                <p>300mb of 500mb used</p>
                            </div>
                            <div class="progress-xs m-b-none bg-white progress ng-isolate-scope" value="60">
                                <div class="progress-bar" style="width: 60%;"></div>
                            </div>
                        </li>
                        <li>
                            <a href="/profile#settings">
                                <span class="badge bg-danger pull-right">30%</span>
                                <span>设置</span>
                            </a>
                        </li>
                        <li>
                            <a href="/profile">个人中心</a>
                        </li>
                        <li>
                            <a href="http://flatfull.com/themes/angulr/angular/#/app/docs">
                                <span class="label bg-info pull-right">new</span>
                                帮助
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a id="logout" href="javascript:;"> 注 销 </a>
                        </li>
                    </ul>
                    <!-- / dropdown -->
                </li>

                {% else %}

                    <li>
                        <div class="m-t-sm m-r">
                            <a href="/signin" class="btn btn-link btn-sm">登陆</a> or
                            <a href="/signup" class="btn btn-sm btn-success btn-rounded m-l"><strong>注册</strong></a>
                        </div>
                    </li>

                {% endif %}


            </ul>




            <!-- / navbar right -->

        </div>
    </div>









    <!-- menu -->
    <!-- ngInclude: 'tpl/blocks/aside.html' -->
    <div class="app-aside hidden-xs bg-dark">
        <div class="aside-wrap ">
            <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
              <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
            -->
            <div class="navi-wrap">
                <!-- user -->
                <div class="clearfix hidden-xs text-center hide" id="aside-user">
                    <div class="dropdown wrapper" dropdown="">
                        <a ui-sref="app.page.profile"
                           href="http://flatfull.com/themes/angulr/angular/#/app/page/profile">
          <span class="thumb-lg w-auto-folded avatar m-t-sm">
            <img src="" class="img-full" alt="...">
          </span>
                        </a>
                        <a href="" class="dropdown-toggle hidden-folded" dropdown-toggle="" aria-haspopup="true"
                           aria-expanded="false">
          <span class="clear">
            <span class="block m-t-sm">
              <strong class="font-bold text-lt">John.Smith</strong> 
              <b class="caret"></b>
            </span>
            <span class="text-muted text-xs block">Art Director</span>
          </span>
                        </a>
                        <!-- dropdown -->
                        <ul class="dropdown-menu animated fadeInRight w hidden-folded">
                            <li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
                                <span class="arrow top hidden-folded arrow-info"></span>

                                <div>
                                    <p>300mb of 500mb used</p>
                                </div>
                                <div class="progress-xs m-b-none dker progress ng-isolate-scope" value="60"
                                     type="white">
                                    <div class="progress-bar progress-bar-white"
                                         ng-class="type &amp;&amp; &#39;progress-bar-&#39; + type" role="progressbar"
                                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                         ng-style="{width: percent + &#39;%&#39;}" aria-valuetext="60%" ng-transclude=""
                                         style="width: 60%;"></div>
                                </div>
                            </li>
                            <li>
                                <a href="">Settings</a>
                            </li>
                            <li>
                                <a ui-sref="app.page.profile"
                                   href="http://flatfull.com/themes/angulr/angular/#/app/page/profile">Profile</a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="badge bg-danger pull-right">3</span>
                                    Notifications
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ui-sref="access.signin"
                                   href="http://flatfull.com/themes/angulr/angular/#/access/signin">Logout</a>
                            </li>
                        </ul>
                        <!-- / dropdown -->
                    </div>
                    <div class="line dk hidden-folded"></div>
                </div>
                <!-- / user -->

                <!-- nav -->
                <nav class="navi clearfix">
                    <div class="mask-nav no-show"></div>

                    <ul class="nav ">
                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span class="">Navigation</span>
                        </li>
                        <li>
                            <a href="/docs" class="auto">
                                <i class="glyphicon glyphicon-book icon text-primary-dker"></i>
                                <span class="font-bold">文档</span>
                            </a>
                        </li>


                        <li ui-sref-active="active">
                            <a ui-sref="app.calendar" href="http://flatfull.com/themes/angulr/angular/#/app/calendar">
                                <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
                                <span class="font-bold " translate="aside.nav.CALENDAR">Calendar</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.mail.list"
                               href="http://flatfull.com/themes/angulr/angular/#/app/mail/inbox/">
                                <b class="badge bg-info pull-right">9</b>
                                <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
                                <span class="font-bold " translate="aside.nav.EMAIL">Email</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
                                <i class="glyphicon glyphicon-th-large icon text-success"></i>
                                <span class="font-bold">Apps</span>
                            </a>
                            <ul class="nav nav-sub dk">
                                <li class="nav-sub-header">
                                    <a href="">
                                        <span>Apps</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="apps.note" href="http://flatfull.com/themes/angulr/angular/#/apps/note">
                                        <span>Note</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="apps.contact"
                                       href="http://flatfull.com/themes/angulr/angular/#/apps/contact">
                                        <span>Contacts</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.weather"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/weather">
                                        <span>Weather</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="line dk"></li>

                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span translate="aside.nav.components.COMPONENTS" class="">Components</span>
                        </li>
                        <li>
                            <a href="" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
                                <b class="badge bg-info pull-right">3</b>
                                <i class="glyphicon glyphicon-th"></i>
                                <span>Layout</span>
                            </a>
                            <ul class="nav nav-sub dk">
                                <li class="nav-sub-header">
                                    <a href="">
                                        <span>Layout</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="layout.app"
                                       href="http://flatfull.com/themes/angulr/angular/#/layout/app">
                                        <span>Application</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="layout.fullwidth"
                                       href="http://flatfull.com/themes/angulr/angular/#/layout/fullwidth">
                                        <span>Full width</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="layout.mobile"
                                       href="http://flatfull.com/themes/angulr/angular/#/layout/mobile">
                                        <span>Mobile</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li ng-class="{active:$state.includes(&#39;app.ui&#39;)}">
                            <a href="" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
                                <i class="glyphicon glyphicon-briefcase icon"></i>
                                <span translate="aside.nav.components.ui_kits.UI_KITS" class="">UI Kits</span>
                            </a>
                            <ul class="nav nav-sub dk">
                                <li class="nav-sub-header">
                                    <a href="">
                                        <span translate="aside.nav.components.ui_kits.UI_KITS"
                                              class="">UI Kits</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.buttons"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/buttons">
                                        <span translate="aside.nav.components.ui_kits.BUTTONS"
                                              class="">Buttons</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.icons"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/icons">
                                        <b class="badge bg-info pull-right">3</b>
                                        <span translate="aside.nav.components.ui_kits.ICONS"
                                              class="">Icons</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.grid"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/grid">
                                        <span translate="aside.nav.components.ui_kits.GRID" class="">Grid</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.widgets"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/widgets">
                                        <b class="badge bg-success pull-right">13</b>
                                        <span translate="aside.nav.WIDGETS" class="">Widgets</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.bootstrap"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/bootstrap">
                                        <b class="badge bg-primary pull-right">16</b>
                                        <span translate="aside.nav.components.ui_kits.BOOTSTRAP" class="">Bootstrap</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.sortable"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/sortable">
                                        <span translate="aside.nav.components.ui_kits.SORTABLE" class="">Sortable</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.portlet"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/portlet">
                                        <span translate="aside.nav.components.ui_kits.PORTLET"
                                              class="">Portlet</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.timeline"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/timeline">
                                        <span translate="aside.nav.components.ui_kits.TIMELINE" class="">Timeline</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.tree"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/tree">
                                        <span>Tree</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.ui.toaster"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/ui/toaster">
                                        <span>Toaster</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="auto">
          <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
          </span>
                                        <b class="label bg-info pull-right">2</b>
                                        <span>Maps</span>
                                    </a>
                                    <ul class="nav dker">
                                        <li ui-sref-active="active">
                                            <a ui-sref="app.ui.jvectormap"
                                               href="http://flatfull.com/themes/angulr/angular/#/app/ui/jvectormap">
                                                <span translate="aside.nav.components.ui_kits.VECTOR_MAP"
                                                      class="">Vector Map</span>
                                            </a>
                                        </li>
                                        <li ui-sref-active="active">
                                            <a ui-sref="app.ui.googlemap"
                                               href="http://flatfull.com/themes/angulr/angular/#/app/ui/googlemap">
                                                <span>Google Map</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li ng-class="{active:$state.includes(&#39;app.table&#39;)}">
                            <a href="" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
                                <b class="label bg-primary pull-right">2</b>
                                <i class="glyphicon glyphicon-list"></i>
                                <span translate="aside.nav.components.table.TABLE" class="">Table</span>
                            </a>
                            <ul class="nav nav-sub dk">
                                <li class="nav-sub-header">
                                    <a href="">
                                        <span translate="aside.nav.components.table.TABLE" class="">Table</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.table.static"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/table/static">
                                        <span translate="aside.nav.components.table.TABLE_STATIC" class="">Table static</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.table.datatable"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/table/datatable">
                                        <span translate="aside.nav.components.table.DATATABLE" class="">Datatable</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.table.footable"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/table/footable">
                                        <span translate="aside.nav.components.table.FOOTABLE"
                                              class="">Footable</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.table.grid"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/table/grid">
                                        <span>ngGrid</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.table.uigrid"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/table/uigrid">
                                        <span>uiGrid</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.table.editable"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/table/editable">
                                        <span>Editable</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li ng-class="{active:$state.includes(&#39;app.form&#39;)}">
                            <a href="" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
                                <i class="glyphicon glyphicon-edit"></i>
                                <span translate="aside.nav.components.form.FORM" class="">Form</span>
                            </a>
                            <ul class="nav nav-sub dk">
                                <li class="nav-sub-header">
                                    <a href="">
                                        <span translate="aside.nav.components.form.FORM" class="">Form</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.elements"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/elements">
                                        <span translate="aside.nav.components.form.FORM_ELEMENTS" class="">Form elements</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.validation"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/validation">
                                        <span translate="aside.nav.components.form.FORM_VALIDATION" class="">Form validation</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.wizard"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/wizard">
                                        <span translate="aside.nav.components.form.FORM_WIZARD" class="">Form wizard</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.fileupload"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/fileupload">
                                        <span>File upload</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.imagecrop"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/imagecrop">
                                        <span>Image crop</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.select"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/select">
                                        <span>Select</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.slider"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/slider">
                                        <span>Slider</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.editor"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/editor">
                                        <span>Editor</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.form.xeditable"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/form/xeditable">
                                        <span>Xeditable</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.chart" href="http://flatfull.com/themes/angulr/angular/#/app/chart">
                                <i class="glyphicon glyphicon-signal"></i>
                                <span translate="aside.nav.components.CHART" class="">Chart</span>
                            </a>
                        </li>
                        <li ng-class="{active:$state.includes(&#39;app.page&#39;)}">
                            <a href="" class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
                                <i class="glyphicon glyphicon-file icon"></i>
                                <span translate="aside.nav.components.pages.PAGES" class="">Pages</span>
                            </a>
                            <ul class="nav nav-sub dk">
                                <li class="nav-sub-header">
                                    <a href="">
                                        <span translate="aside.nav.components.pages.PAGES" class="">Pages</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.page.profile"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/page/profile">
                                        <span translate="aside.nav.components.pages.PROFILE"
                                              class="">Profile</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.page.post"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/page/post">
                                        <span translate="aside.nav.components.pages.POST" class="">Post</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.page.search"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/page/search">
                                        <span translate="aside.nav.components.pages.SEARCH"
                                              class="">Search</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.page.invoice"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/page/invoice">
                                        <span translate="aside.nav.components.pages.INVOICE"
                                              class="">Invoice</span>
                                    </a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="app.page.price"
                                       href="http://flatfull.com/themes/angulr/angular/#/app/page/price">
                                        <span>Price</span>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="lockme" href="http://flatfull.com/themes/angulr/angular/#/lockme">
                                        <span translate="aside.nav.components.pages.LOCK_SCREEN" class="">Lock screen</span>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="access.signin"
                                       href="http://flatfull.com/themes/angulr/angular/#/access/signin">
                                        <span translate="aside.nav.components.pages.SIGNIN"
                                              class="">Signin</span>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="access.signup"
                                       href="http://flatfull.com/themes/angulr/angular/#/access/signup">
                                        <span translate="aside.nav.components.pages.SIGNUP"
                                              class="">Signup</span>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="access.forgotpwd"
                                       href="http://flatfull.com/themes/angulr/angular/#/access/forgotpwd">
                                        <span translate="aside.nav.components.pages.FORGOT_PASSWORD" class="">Forgot password</span>
                                    </a>
                                </li>
                                <li>
                                    <a ui-sref="access.404"
                                       href="http://flatfull.com/themes/angulr/angular/#/access/404">
                                        <span translate="aside.nav.components.pages.404" class="">404</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="line dk hidden-folded"></li>

                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span translate="aside.nav.your_stuff.YOUR_STUFF" class="">Your Stuff</span>
                        </li>
                        <li>
                            <a ui-sref="app.page.profile"
                               href="http://flatfull.com/themes/angulr/angular/#/app/page/profile">
                                <i class="icon-user icon text-success-lter"></i>
                                <b class="badge bg-success pull-right">30%</b>
                                <span translate="aside.nav.your_stuff.PROFILE" class="">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="app.docs" href="http://flatfull.com/themes/angulr/angular/#/app/docs">
                                <i class="icon-question icon"></i>
                                <span translate="aside.nav.your_stuff.DOCUMENTS" class="">Documents</span>
                            </a>
                        </li>
                    </ul>
                    <!-- / list --></nav>
                <!-- nav -->

                <!-- aside footer -->
                <div class="wrapper m-t">
                    <div class="text-center-folded">
                        <span class="pull-right pull-none-folded">60%</span>
                        <span class="hidden-folded " translate="aside.MILESTONE">Milestone</span>
                    </div>
                    <div class="progress-xxs m-t-sm dk progress ng-isolate-scope" value="60" type="info">
                        <div class="progress-bar progress-bar-info"
                             ng-class="type &amp;&amp; &#39;progress-bar-&#39; + type" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             ng-style="{width: percent + &#39;%&#39;}" aria-valuetext="60%" ng-transclude=""
                             style="width: 60%;"></div>
                    </div>
                    <div class="text-center-folded">
                        <span class="pull-right pull-none-folded">35%</span>
                        <span class="hidden-folded " translate="aside.RELEASE">Release</span>
                    </div>
                    <div class="progress-xxs m-t-sm dk progress ng-isolate-scope" value="35" type="primary">
                        <div class="progress-bar progress-bar-primary"
                             ng-class="type &amp;&amp; &#39;progress-bar-&#39; + type" role="progressbar"
                             aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"
                             ng-style="{width: percent + &#39;%&#39;}" aria-valuetext="35%" ng-transclude=""
                             style="width: 35%;"></div>
                    </div>
                </div>
                <!-- / aside footer -->
            </div>
        </div>
    </div>
    <!-- / menu -->



   <span id="gotop"></span>




    <div class="app-content">

        <div class="butterbar active"><span class="bar"></span></div>

        <div class="app-content-body">

            <div class="fade-in-down ng-enter">
            {% if secondtitle %}
                <div class="bg-light lter b-b wrapper-md">
                    <h2 class="m-n font-thin h3">{% block secondtitle %}default{% endblock %}</h2>
                </div>
            {% endif %}

                {% block content %}
                     <p>找不到相应的内容</p>
                {% endblock %}

            </div>

        </div>

    </div>










    <!-- footer -->
    <div class="app-footer wrapper b-t bg-light ">
        <span class="pull-right ng-binding">
            <a href="#gotop" target="_self" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a>
            v0.0.1
        </span>
        © 2015 Copyright.
    </div>
    <div class="mask fade-in-down">
        <div id="alert" class="msg fade-in-down alertok no-show">
            <button class="close">
                <span>×</span>
                <span class="sr-only">Close</span>
            </button>
            <span></span>
        </div>
        <img id="load" class="no-show" src="/img/flickr.svg" alt="loading..."/>
    </div>
    <!-- / footer -->
</div>
{% block commonloadjs %}
    <script src="/js/lib/require.min.js" type="text/javascript"></script>
    <script src="/js/common.js" type="text/javascript"></script>
{% endblock %}
{% block loadjs %}
{% endblock %}
</body>
</html>
