{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}


    <div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
        <!-- main -->
        <div class="col w bg-light dker bg-auto">
            <h4 class="m-n wrapper">通知中心</h4>
            <ul class="list-group no-radius no-border no-bg list-group-lg">
                <li class="list-group-item active">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-inbox"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>所有通知</span>
                        <span class="text-muted"> -- 04:35</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-envelope"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>未读通知</span>
                        <span class="text-muted"> -- 04:15</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-heart"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>提到我的</span>
                        <span class="text-muted"> -- 02:25</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-comment"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>评论</span>
                        <span class="text-muted"> -- 05:00</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-bell"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>系统通知</span>
                        <span class="text-muted"> -- 03:50</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- / main -->
        <!-- right col -->
        <div class="col">
            <div class="wrapper bg-light lter">

                <div class="bg-light lter b-b wrapper hidden-print">
                    <a href="" class="btn btn-sm btn-default pull-right" onclick="window.print();">标记本页为已读</a>
                    <a href="" class="btn btn-sm btn-danger pull-right m-r-sm" onclick="window.print();">标记所有为已读</a>
                    <h1 class="m-n font-thin h3">Invoice</h1>
                </div>

            </div>

            <div class="tab-content bg-light lter wrapper-md hidden-print">
                <div class="panel tab-pane active " id="activities">
                    <ul class="list-group alt">
                        <li class="list-group-item">
                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                <img src="images/a0.png" class="img-circle">
                            </a>
                            <a href="#" class="clear">
                            <small class="pull-right">3 minuts ago</small>
                            <small>云淡然 在你的《路由中加入参数后，static 目录失效？》上回复道：“写绝对路径” ...</small>
                        </a>
                        </li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a1.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">1 hour ago</small>
                            <strong class="block">Jonathan George</strong>
                            <small>Morbi nec nunc condimentum...</small>
                        </a></li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a2.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">2 hours ago</small>
                            <strong class="block">Josh Long</strong>
                            <small>Vestibulum ullamcorper sodales nisi nec...</small>
                        </a></li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a3.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">1 day ago</small>
                            <strong class="block">Jack Dorsty</strong>
                            <small>Morbi nec nunc condimentum...</small>
                        </a></li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a4.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">3 days ago</small>
                            <strong class="block">Morgen Kntooh</strong>
                            <small>Mobile first web app for startup...</small>
                        </a></li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a5.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">Jun 21</small>
                            <strong class="block">Yoha Omish</strong>
                            <small>Morbi nec nunc condimentum...</small>
                        </a></li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a6.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">May 10</small>
                            <strong class="block">Gole Lido</strong>
                            <small>Vestibulum ullamcorper sodales nisi nec...</small>
                        </a></li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a7.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">Jan 2</small>
                            <strong class="block">Jonthan Snow</strong>
                            <small>Morbi nec nunc condimentum...</small>
                        </a></li>
                        <li class="list-group-item" href="#email-content" data-toggle="class:show"><a href="#"
                                                                                                      class="thumb-sm pull-left m-r-sm">
                            <img src="images/a8.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">3 minuts ago</small>
                            <strong class="block">Drew Wllon</strong>
                            <small>Vestibulum ullamcorper sodales nisi nec sodales nisi nec sodales nisi nec...</small>
                        </a></li>
                        <li class="list-group-item"><a href="#" class="thumb-sm pull-left m-r-sm"> <img
                                src="images/a9.png" class="img-circle"> </a> <a href="#" class="clear">
                            <small class="pull-right">1 hour ago</small>
                            <strong class="block">Jonathan George</strong>
                            <small>Morbi nec nunc condimentum...</small>
                        </a></li>
                    </ul>
                </div>
                <div class="tab-pane wrapper-lg" id="bio">
                    <div class="row m-b">
                        <div class="col-xs-6">
                            <small>Cell Phone</small>
                            <div class="text-lt font-bold">1243 0303 0333</div>
                        </div>
                        <div class="col-xs-6">
                            <small>Family Phone</small>
                            <div class="text-lt font-bold">+32(0) 3003 234 543</div>
                        </div>
                    </div>
                    <div class="row m-b">
                        <div class="col-xs-6">
                            <small>Reporter</small>
                            <div class="text-lt font-bold">Coch Jose</div>
                        </div>
                        <div class="col-xs-6">
                            <small>Manager</small>
                            <div class="text-lt font-bold">James Richo</div>
                        </div>
                    </div>
                    <div>
                        <small>Bio</small>
                        <div class="text-lt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque
                            quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi
                            nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies
                            neque, quis malesuada augue.
                        </div>
                    </div>
                </div>
                <div class="tab-pane wrapper-lg" id="edit">
                    <form class="form-horizontal" method="get">
                        <div class="form-group"><label class="col-sm-3 control-label">Name:</label>

                            <div class="col-sm-5"><input type="text" class="form-control"></div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group"><label class="col-sm-3 control-label" for="input-id-1">Email:</label>

                            <div class="col-sm-5"><input type="text" class="form-control" id="input-id-1"
                                                         disabled="disabled" value="drew.willon@scale.com"></div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group"><label class="col-sm-3 control-label">Password:</label>

                            <div class="col-sm-5"><input type="password" class="form-control"></div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group"><label class="col-sm-3 control-label">Password Again:</label>

                            <div class="col-sm-5"><input type="password" class="form-control"></div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group"><label class="col-sm-3 control-label">Phone:</label>

                            <div class="col-sm-5"><input type="text" class="form-control"></div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group"><label class="col-sm-3 control-label">Bio:</label>

                            <div class="col-sm-5"><textarea class="form-control" rows="5"></textarea></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-5">
                                <button type="submit" class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- / right col -->
    </div>



{% endblock %}
