{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}


    <div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
        <!-- main -->
        <div class="col w bg-light dker bg-auto">
            <h4 class="m-n wrapper">通知中心</h4>
            <ul class="list-group no-radius no-border no-bg list-group-lg">
                <li class="list-group-item active">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-inbox"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>所有通知</span>
                        <span class="text-muted"> -- 04:35</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-envelope"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>未读通知</span>
                        <span class="text-muted"> -- 04:15</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-heart"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>提到我的</span>
                        <span class="text-muted"> -- 02:25</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-comment"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>评论</span>
                        <span class="text-muted"> -- 05:00</span>
                    </div>
                </li>
                <li class="list-group-item">
                    <a class="m-r-sm pull-left">
                        <i class="fa fa-bell"></i>
                    </a>

                    <div class="clear text-ellipsis">
                        <span>系统通知</span>
                        <span class="text-muted"> -- 03:50</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- / main -->
        <!-- right col -->
        <div class="col">
            <div class="wrapper">

                <div class="b-b wrapper">
                    <a href="" class="btn btn-sm btn-default pull-right" onclick="window.print();">标记本页为已读</a>
                    <a href="" class="btn btn-sm btn-danger pull-right m-r-sm" onclick="window.print();">标记所有为已读</a>
                    <h1 class="m-n font-thin h3">所有通知</h1>
                </div>

            </div>

            <div class="tab-content wrapper-md hidden-print">



                <div class="panel tab-pane active " id="activities">
                    <ul class="list-group alt">


                        <li class="list-group-item">
                            <a href="#" class="thumb-sm pull-left m-r-sm">
                                <img src="images/a0.png" class="img-circle">
                            </a>
                            <a href="#" class="clear">
                            <small class="pull-right">3 minuts ago</small>
                            <small><span class="text-info">云淡然</span> 在你的《路由中加入参数后，static 目录失效？》上回复道：“写绝对路径” ...</small>
                        </a>
                        </li>


                    </ul>
                </div>







            </div>


        </div>
        <!-- / right col -->
    </div>


{% endblock %}
