{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/css/editor.css" type="text/css">
{% endblock%}
{% block secondtitle %}{{secondtitle}}{% endblock %}

{% block content %}
<div class="wrapper-md">

<div class="row">
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-body" style="padding: 50px 40px 50px 60px;">

                <form id="publish-form" class="form-horizontal">

                    <!--标题-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>

                        <div class="col-sm-10">
                            <input type="text" v-model="post.title" v-validate="minLength:10" class="form-control" autofocus placeholder="标题字数 10 字以上" value="{{post.title}}">
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <!--标签-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标签</label>

                        <div class="col-sm-10">
                            <input type="text" v-model="post.tags" class="form-control" placeholder="tag:多个标签请用英文逗号（,）分开" value="{{post.tags}}">
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <!--分类-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">分类目录</label>

                        <div class="col-sm-10">
                            <select v-model="post.category" name="account" class="form-control">
                                {% for category in categories %}
                                    <option value="{{category.name}}" {% if loop.first %}selected{% endif %}>{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <!--文章内容-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="padding-top: 15px;">文章内容</label>

                        <div class="col-sm-10">
                            <textarea id="editor" v-model="post.content" placeholder="Content here ....">{{post.content}}</textarea>
                        </div>
                    </div>
                    <input type="hidden" v-model="post.edit" value="{{edit}}"/>
                    <!-- end editor -->
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">

                            <button type="submit" v-attr="disabled:!valid" v-on="click:submit" class="btn btn-primary">
                                {% if edit %}
                                    更 改
                                {% else %}
                                    发 布
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>




    <div class="col-sm-3">
        <h5 class="font-bold">Categories</h5>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="">
                    <span class="badge pull-right">15</span>
                    Photograph
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="badge pull-right">30</span>
                    Life style
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="badge pull-right">9</span>
                    Food
                </a>
            </li>
            <li class="list-group-item">
                <a href="">
                    <span class="badge pull-right">4</span>
                    Travel world
                </a>
            </li>
        </ul>
        <div class="tags m-b-lg l-h-2x">
            <a href="" class="label bg-primary">Bootstrap</a> <a href="" class="label bg-primary">Application</a>
            <a href="" class="label bg-primary">Apple</a> <a href="" class="label bg-primary">Less</a> <a
                href="" class="label bg-primary">Theme</a> <a href="" class="label bg-primary">Wordpress</a>
        </div>
        <h5 class="font-bold">Recent Posts</h5>

        <div>
            <div>
                <a class="pull-left thumb thumb-wrapper m-r">
                    <img src="./assets/b0.jpg">
                </a>

                <div class="clear">
                    <a href="" class="font-semibold text-ellipsis">Bootstrap 3: What you need to know</a>

                    <div class="text-xs block m-t-xs"><a href="">Travel</a> 2 minutes ago</div>
                </div>
            </div>
            <div class="line"></div>
            <div>
                <a class="pull-left thumb thumb-wrapper m-r">
                    <img src="./assets/b1.jpg">
                </a>

                <div class="clear">
                    <a href="" class="font-semibold text-ellipsis">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit.</a>

                    <div class="text-xs block m-t-xs"><a href="">Design</a> 2 hours ago</div>
                </div>
            </div>
            <div class="line"></div>
            <div>
                <a class="pull-left thumb thumb-wrapper m-r">
                    <img src="./assets/b2.jpg">
                </a>

                <div class="clear">
                    <a href="" class="font-semibold text-ellipsis">Sed diam nonummy nibh euismod tincidunt
                        ut laoreet</a>

                    <div class="text-xs block m-t-xs"><a href="">MFC</a> 1 week ago</div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block loadjs %}
<script type="text/javascript">
    require(['publish/index']);
</script>
{% endblock %}