{% extends 'layout.html' %}
{% block title%}{{title}}{% endblock %}
{% block secondtitle %}{{secondtitle}}{% endblock %}
{% block content %}
<div class="wrapper-md">
    <form action="/take/" class="m-b-md">
        <div class="input-group">
            <input type="text" name="s" class="form-control input-lg" placeholder="Type keyword">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-default" type="submit">搜索</button>
      </span>
        </div>
    </form>


    <p class="m-b-md"><strong>23</strong> Results found for: <strong>Keyword</strong></p>


    <div class="tab-container ng-isolate-scope">
        <div class="tab-content">
            <!-- ngRepeat: tab in tabs --><div class="tab-pane ng-scope active" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">


            <ul class="list-group no-borders pull-in m-b-none ng-scope">
                <li class="list-group-item">
                    <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
                    <p><span class="label bg-primary pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-primary"></i> Tags:</span> <a href="" class="m-r-sm">admin</a> <a href="">app</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Vestibulum ullamcorper sodales nisi nec condimentum</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
                    <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href="" class="m-r-sm">admin</a> <a href="">app</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Mauris convallis mauris at pellentesque volutpat</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
                    <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href="" class="m-r-sm">admin</a> <a href="">app</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Phasellus at ultricies neque, quis malesuada augu</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
                    <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href="" class="m-r-sm">admin</a> <a href="">app</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Morbi nec nunc condimentum, egestas dui nec, fermentum diam</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
                    <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href="" class="m-r-sm">admin</a> <a href="">app</a>
                    </p>
                </li>
                <li class="list-group-item">
                    <a href="#" class="h4 text-primary m-b-sm m-t-sm block">Vestibulum ullamcorper sodales nisi nec condimentum Mauris convallis</a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
                    <p><span class="label bg-info pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-info"></i> Tags:</span> <a href="" class="m-r-sm">admin</a> <a href="">app</a>
                    </p>
                </li>
            </ul>
        </div><!-- end ngRepeat: tab in tabs -->
    </div>
</div>
    </div>
{% endblock %}
