{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
    <!-- right col -->
    <div class="col w bg-light dker bg-auto">
        <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
            <a href="javascript:;" class="list-group-item">
                <h4>操作中心</h4>
            </a>
            <a class="list-group-item active">
                 基本设置
            </a>
            <a class="list-group-item">
                文章
            </a>
            <a class="list-group-item">
                评论
            </a>
        </div>
    </div>
    <!-- / right col -->
    <!-- main -->
    <div class="col wrapper-lg">
        <h3 class="font-thin m-t-n-xs m-b">Acoustic</h3>
        <div class="row row-sm">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="top">
                            <span class="badge bg-info m-l-sm m-t-sm">04:10</span>
                        </div>
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b16.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Tempered Song</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Miaow</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b17.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Vivamus vel tincidunt libero</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Lauren Taylor</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b18.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Morbi id neque quam liquam sollicitudin</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Allen JH</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <div class="top w-full">
              <span class="pull-right m-t-n-xs m-r-sm text-white">
                <i class="fa fa-bookmark i-lg"></i>
              </span>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b19.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Tincidunt libero</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Amanda Conlan</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b20.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Fermentum diam</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Nisa Colen</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="top w-full">
                            <span class="pull-right m-t-sm m-r-sm badge bg-info">6</span>
                        </div>
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b6.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Habitant</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Dan Doorack</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b7.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Vivamus vel tincidunt libero</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Ligula H</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b8.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Aliquam sollicitudin venenati</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">James East</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <div class="top">
                            <span class="badge bg-warning m-l-sm m-t-sm">03:10</span>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b9.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Lementum ligula vitae</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Lauren Taylor</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b10.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Egestas dui nec fermentum </a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Chris Fox</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b11.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Aliquam sollicitudin venenatis ipsum</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Jack Jason</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b12.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Vestibulum ullamcorper</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">MM &amp; DD</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="bottom">
                            <span class="badge m-l-sm m-b-sm">MTV</span>
                        </div>
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b13.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Aliquam sollicitudin venenatis ipsum</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Jack Jason</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b14.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Vestibulum ullamcorper</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">MM &amp; DD</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="top">
                            <span class="badge bg-info m-l-sm m-t-sm">04:10</span>
                        </div>
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b1.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Tempered Song</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Miaow</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b2.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Vivamus vel tincidunt libero</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Lauren Taylor</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b3.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Morbi id neque quam liquam sollicitudin</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Allen JH</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <div class="top w-full">
              <span class="pull-right m-t-n-xs m-r-sm text-white">
                <i class="fa fa-bookmark i-lg"></i>
              </span>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b4.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Tincidunt libero</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Amanda Conlan</a>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b5.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Fermentum diam</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Nisa Colen</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2-4">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="top w-full">
                            <span class="pull-right m-t-sm m-r-sm badge bg-info">6</span>
                        </div>
                        <div class="item-overlay bg-black-opacity">
                            <div class="center text-center m-t-n w-full">
                                <a><i class="fa fa-2x fa-play-circle-o text-white"></i></a>
                            </div>
                        </div>
                        <a ui-sref="music.detail" href="#/music/detail"><img src="img/b6.jpg" alt="" class="img-full"></a>
                    </div>
                    <div class="wrapper bg-white m-b">
                        <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">Habitant</a>
                        <a ui-sref="music.detail" class="text-ellipsis text-xs text-muted" href="#/music/detail">Dan Doorack</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination pagination">
            <li><a ui-sref="music.detail" href="#/music/detail"><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a ui-sref="music.detail" href="#/music/detail">1</a></li>
            <li><a ui-sref="music.detail" href="#/music/detail">2</a></li>
            <li><a ui-sref="music.detail" href="#/music/detail">3</a></li>
            <li><a ui-sref="music.detail" href="#/music/detail">4</a></li>
            <li><a ui-sref="music.detail" href="#/music/detail">5</a></li>
            <li><a ui-sref="music.detail" href="#/music/detail"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
    </div>
    <!-- / main -->
</div>

{% endblock %}