{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
    <!-- right col -->
    <div class="col w bg-light dker bg-auto">
        <div id="set-tab" class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
            <a href="javascript:;" class="list-group-item">
                <h4>操作中心</h4>
            </a>
            <a class="list-group-item active">
                基本设置
            </a>
            <a class="list-group-item">
                文章
            </a>
            <a class="list-group-item">
                分类管理
            </a>
        </div>
    </div>
    <!-- / right col -->
    <!-- main -->
    <div class="set-content col wrapper-lg">
        <div></div>


        <div class="panel panel-default fade-in-up ng-enter">
            <div class="panel-heading font-bold">
                基本设置
            </div>
            <div class="panel-body">
                <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled"
                      method="get">

                    <!-- 网站描述 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">网站描述</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="网站描述">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <!-- 网站关键字 -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">网站关键字</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="网站关键字">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <!-- 流量统计代码-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label" style="padding-top: 15px;">流量统计代码</label>

                        <div class="col-sm-10">
                            <textarea style="resize:none;" class="form-control" rows="3"
                                      placeholder="流量统计代码"></textarea>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>

                    <!-- save -->
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary">保存设置</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>


        <div class="panel panel-default hide fade-in-up ng-enter">

            <div class="form-inline ng-pristine ng-valid">
                <div class="panel-body">


                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="文章标题">
                        </div>
                          <button class="btn btn-sm btn-success">搜索</button>

                    <span class="form-group m-l">
                            <a href="">全部</a>（389） | <a href="">已发布</a>（381） | <a href="">置顶</a>（4） | <a href="">草稿</a>（8）

                    </span>

                </div>
            </div>


            <div class="panel-heading font-bold">
                文章
            </div>


            <table class="table table-bordered table-hover table-condensed bg-white-only">
                <tr style="font-weight: bold">
                    <td style="width:35%">标题</td>
                    <td style="width:12%">作者</td>
                    <td style="width:12%">分类目录</td>
                    <td style="width:7%">评论</td>
                    <td style="width:8%">状态</td>
                    <td style="width:10%">日期</td>
                    <td style="width:15%">操作</td>
                </tr>




                <!-- ngRepeat: user in users -->
                <tr>

                    <!-- 标题 -->
                    <td class="v-middle">
                        <a href="">Mac下用brew搭建PHP(LNMP/LAMP)开发环境</a>
                    </td>

                    <!-- 作者 -->
                    <td class="v-middle">
                        <a href="">petitspois</a>
                    </td>

                    <!--分类-->
                    <td class="v-middle">
                        <a href="">javascript</a>
                    </td>

                    <!--评论count-->
                    <td class="v-middle">
                        <a href="">12</a>
                    </td>

                    <!--状态-->
                    <td class="v-middle">
                        <a href="">已发布</a>
                    </td>


                    <!--日期-->
                    <td class="v-middle">
                        <a href="">2014-06-26</a>
                    </td>

                    <!-- 操作-->
                    <td style="white-space: nowrap">
                        <div class="buttons">
                            <button class="btn btn-sm btn-info" ng-click="rowform.$show()">编辑</button>
                            <button class="btn btn-sm btn-danger" ng-click="removeUser($index)">删除</button>
                        </div>
                    </td>

                </tr>




            </table>


        </div>


        <!-- 分类-->

        <div class="panel panel-default hide fade-in-up ng-enter">

            <div class="form-inline ng-pristine ng-valid">
                <div class="panel-body">


                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="文章标题">
                    </div>
                    <button class="btn btn-sm btn-success">添加分类</button>

                    <span class="form-group m-l">
                            全部（389）
                    </span>

                </div>
            </div>


            <div class="panel-heading font-bold">
                分类
            </div>


            <table class="table table-bordered table-hover table-condensed bg-white-only">
                <tr style="font-weight: bold">
                    <td style="width:35%">名称</td>
                    <td style="width:15%">操作</td>
                </tr>


                <!-- ngRepeat: user in users -->
                <tr>

                    <!-- 分类名 -->
                    <td class="v-middle">
                        <a href="">javascript</a>
                    </td>


                    <!-- 操作-->
                    <td style="white-space: nowrap">
                        <div class="buttons">
                            <button class="btn btn-sm btn-info" ng-click="rowform.$show()">编辑</button>
                            <button class="btn btn-sm btn-danger" ng-click="removeUser($index)">删除</button>
                        </div>
                    </td>

                </tr>




            </table>


        </div>


    </div>
    <!-- / main -->
</div>

{% endblock %}
{% block loadjs %}
<script>
    require(['user/settings']);
</script>
{% endblock %}