<table style="-webkit-font-smoothing: antialiased;font-family:'微软雅黑', 'Helvetica Neue', sans-serif, SimHei;padding:35px 50px;margin: 25px auto; background:rgb(247,246, 242); border-radius:5px" border="0" cellspacing="0" cellpadding="0" width="640" align="center">
    <tbody>
    <tr>
        <td style="color:#000;"><img width="200px" height="57px" src="http://coding-net-production-static.qiniudn.com/coding_h_1120.png" alt="Coding.net"></td>
    </tr>
    <tr><td style="padding:0 20px"><hr style="border:none;border-top:1px solid #ccc;"></td></tr>
    <tr>
        <td style="padding: 20px 20px 20px 20px;">
            尊敬的用户:
        </td>
    </tr>
    <tr>
        <td valign="middle" style="line-height:24px;padding: 15px 20px;">
            感谢您使用<a style="color:#5083c0;text-decoration:none" href="https://www.docs.ren"> Docs.ren</a>! <br>
            请点击以下链接修改您的账号密码：
        </td>
    </tr>
    <tr>
        <td style="height: 50px;color: white;" valign="middle">
            <div style="padding:10px 20px;border-radius:5px;background: rgb(64, 69, 77);margin-left:20px;margin-right:20px">
                <a style="word-break:break-all;line-height:23px;color:white;font-size:15px;text-decoration:none;" href="{{host}}/security?email={{email}}&amp;key={{key}}">
                    {{host}}/security?email={{email}}&amp;key={{key}}
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 20px 20px 20px">
            请勿回复此邮件，如果有疑问，请联系我们：<a style="color:#5083c0;text-decoration:none" href="mailto:petitspois@163.com">petitspois@163.com</a>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 20px 20px 20px">
            - Docs.ren
        </td>
    </tr>
    <tr>
        <td style="padding:0 20px;"><hr style="border:none;border-top:1px solid #ccc;"></td>
    </tr>
    <tr>
        <td style="padding:0 20px;font-size:9pt; color:#b5b0b0">
            <span style="float:left;">如果你没有注册过Docs.ren ，请忽略此邮件。</span>
            <span style="float:right;">获取帮助：<a style="color:#b5b0b0" href="https://docs.ren" target="_blank">https://docs.ren/help</a></span>
        </td>
    </tr>
    </tbody>
</table>

<style type="text/css">
    body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:0;margin:0;overflow:auto;white-space:normal;word-wrap:break-word;min-height:100px}
    td, input, button, select, body{font-family:Helvetica, 'Microsoft Yahei', verdana}
    pre {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;padding-right:1px;}
    th,td{font-family:arial,verdana,sans-serif;line-height:1.666}
    img{ border:0}
    header,footer,section,aside,article,nav,hgroup,figure,figcaption{display:block}
</style>
<style id="ntes_link_color" type="text/css">a,td a{color:#064977}</style>