{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block style %}
<link rel="stylesheet" href="/css/editor.css" type="text/css">
{% endblock%}
{% block secondtitle %}{{secondtitle}}{% endblock %}

{% block content %}
<div class="wrapper-md">

    <div id="docs-wrap" class="row">

        <form id="useredit-form" class="form-horizontal" method="post" target="_blank">
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding: 50px 40px 50px 60px;">


                        <!--email-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" disabled value="{{opposite.email}}">
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>

                        <!--标签-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">个性后缀</label>

                            <div class="col-sm-10">
                                <input type="text" disabled class="form-control" value="{{opposite.nickname}}">
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>


                        <!--密码-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">密码</label>-->

                            <!--<div class="col-sm-10">-->
                                <!--<input type="password" class="form-control"  value="{{docs.projectLink}}">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->

                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">重复密码</label>-->

                            <!--<div class="col-sm-10">-->
                                <!--<input type="password" class="form-control"  value="{{docs.projectLink}}">-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->





                        <!--积分-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">积分</label>

                            <div class="col-sm-10">
                                <input type="number" class="form-control"  value="{{opposite.level}}">
                            </div>
                        </div>

                        <div class="line line-dashed b-b line-lg pull-in"></div>


                        <!-- 权限 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">权限</label>

                            <div class="col-sm-10">
                                <select v-model="docs.category" name="category" class="form-control">
                                    <option value="" selected>会员</option>
                                    <option value="" >开发者</option>
                                    <option value="" >管理员</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>








                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="panel">

                    <div class="panel-body">
                        <button type="submit" class="btn btn-default">取消</button>

                        <button type="submit" class="btn btn-primary pull-right" v-attr="disabled:!valid" v-on="click:submit">
                            修改
                        </button>
                    </div>

                </div>
            </div>

        </form>
    </div>

</div>
{% endblock %}

{% block loadjs %}
<script type="text/javascript">
</script>
{% endblock %}